/* 모바일  카테고리 선택 부분*/
.mo_category {
  /* display: none; */
}

/* 전체 wrapper 스타일 */
.board_filter_wrap {
  display: none !important;
  margin-top: 24px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 카테고리 셀렉트 박스 스타일 */
.board_filter_wrap select[name="board_category"] {
  width: 100%;
  padding: 16px 24px;
  border-radius: 4px;
  border: 1px solid #e0e0e6;
  background: #fff;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("/images/mo_btn_arrow_down.svg"); /* 화살표 커스텀 */
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 12px;

  /* 폰트 스타일 */
  color: #3c3c3c;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  letter-spacing: -0.32px;
}

/* 정렬 버튼 스타일 */
.board_filter_wrap button {
  padding: 8px 14px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-image: url("/images/mo_btn_arrow_down"); /* 화살표 커스텀 */
}

/********************* Mobile ******************************************/
@media all and (max-width: 768px) {
  /* Main Content */
  /* hero section */
  .banner_section {
    padding: 80px 20px 40px 20px;
  }

  .hero {
    background-image: url("images/mo_faq_banner.png");
    height: 300px;
    margin-bottom: 0px;
  }

  .hero_content {
    z-index: 1;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .hero h1 {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 100% */
  }

  .hero p {
    color: #fff;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
    letter-spacing: -0.4px;
  }

  /* 본 부분 */
  .board_filter_wrap {
    width: 100%;
    display: block !important;
  }
  .faq_section {
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
  }
  /* 카테고리 선택 부분 */
  .cartegory_btn_wrapper {
    display: none;
  }

  /* 검색창 부분분 */

  .faq_search_wrapper {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 15px;
  }
  .form {
    gap: 8px;
  }
  .search_icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }

  .search_input {
    color: #b0b0b0;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px; /* 100% */
    letter-spacing: -0.36px;
  }

  .search_input::placeholder {
    color: #b0b0b0;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px; /* 100% */
    letter-spacing: -0.36px;
  }

  .faq_item_box {
    width: 100%;
    padding: 16px 20px;
    border-radius: 4px;
  }

  .category_name_box {
    display: none;
  }
  /* faq 내용 글자 css */
  .category_content_text {
    margin-left: 0px;
    color: #3c3c3c;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 100% */
    letter-spacing: -0.32px;
  }
  .faq_inner_content {
    gap: 12px;
  }
  .faq_inner_content img {
    width: 24px;
    height: 24px;
  }

  /* FAQ 토글 관련 스타일 */
  .faq_list_container {
    margin-top: 24px;

    gap: 8px;
  }
  .faq_item_container {
    width: 100%;
  }
  .faq_answer_box {
    width: 100%;
    display: none;
    padding: 16px 20px;
    margin-top: 0px;
    background-color: #eeeff3;
    border-radius: 0px 0px 4px 4px;
    border: none;
    border-top: none;

    /* display: flex;
    align-items: center;
    gap: 32px; */
  }
  .pc_answer_icon {
    display: none;
  }
  .mo_answer_icon {
    display: block;
  }

  .faq_item_box_toggle {
    border: none;
    background-color: #ffffff;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
  }

  .faq_answer_text_box {
    /* 글자 css */
    color: #3c3c3c;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
    display: flex;
    gap: 7px;
    align-items: flex-start;
  }

  .faq_answer_text {
   
    color: #3c3c3c;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
  }

  .toggle_arrow.active {
    transform: rotate(180deg);
  }

  /* 토글 애니메이션 */
  .toggle_arrow {
    display: none;
  }

  /* 더보기 버튼 */
  .faq_more_btn {
    margin-top: 40px;
    width: 162px;
    height: 48px;
    gap: 11px;
    border-radius: 55px;
    cursor: pointer;
  }
  .faq_more_btn span {
    font-size: 16px;
    line-height: 16px; /* 100% */
  }
}

/********************* Tablet ***************************************************************/
@media all and (min-width: 768px) and (max-width: 1324px) {
  /* Main Content */

  /* hero section */
  .banner_section {
    padding: 100px 60px 50px 60px;
  }

  .hero {
    margin-bottom: 0px;
  }

  .hero_content {
    z-index: 1;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .hero h1 {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 100% */
  }

  .hero p {
    color: #fff;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
    letter-spacing: -0.4px;
  }

  /* 본 부분 */
  .board_filter_wrap {
    width: 100%;
    display: block !important;
  }
  .faq_section {
    display: flex;
    flex-direction: column;
    padding: 80px 60px;
  }
  /* 카테고리 선택 부분 */
  .cartegory_btn_wrapper {
    display: none;
  }

  /* 검색창 부분분 */

  .faq_search_wrapper {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 15px;
  }
  .form {
    gap: 8px;
  }
  .search_icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }

  .search_input {
    color: #b0b0b0;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px; /* 100% */
    letter-spacing: -0.36px;
  }

  .search_input::placeholder {
    color: #b0b0b0;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px; /* 100% */
    letter-spacing: -0.36px;
  }

  .faq_item_box {
    width: 100%;
    padding: 20px 20px;
    border-radius: 4px;
  }

  .category_name_box {
    display: none;
  }
  /* faq 내용 글자 css */
  .category_content_text {
    margin-left: 0px;
    color: #3c3c3c;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 100% */
    letter-spacing: -0.32px;
  }
  .faq_inner_content {
    gap: 12px;
  }
  .faq_inner_content img {
    width: 24px;
    height: 24px;
  }

  /* FAQ 토글 관련 스타일 */
  .faq_list_container {
    margin-top: 24px;

    gap: 12px;
  }
  .faq_item_container {
    width: 100%;
  }
  .faq_answer_box {
    width: 100%;
    display: none;
    padding: 20px 20px;
    margin-top: 0px;
    background-color: #eeeff3;
    border-radius: 0px 0px 4px 4px;
    border: none;
    border-top: none;

    /* display: flex;
    align-items: center;
    gap: 32px; */
  }
  .pc_answer_icon {
    display: none;
  }
  .mo_answer_icon {
    display: block;
  }

  .faq_item_box_toggle {
    border: none;
    background-color: #ffffff;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
  }

  .faq_answer_text_box {
    /* 글자 css */
    color: #3c3c3c;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
    display: flex;
    gap: 7px;
    align-items: flex-start;
  }

  .faq_answer_text {
    width: 0px;
    color: #3c3c3c;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
  }

  .toggle_arrow.active {
    transform: rotate(180deg);
  }

  /* 토글 애니메이션 */
  .toggle_arrow {
    display: none;
  }

  /* 더보기 버튼 */
  .faq_more_btn {
    margin-top: 40px;
    width: 162px;
    height: 48px;
    gap: 11px;
    border-radius: 55px;
    cursor: pointer;
  }
  .faq_more_btn span {
    font-size: 16px;
    line-height: 16px; /* 100% */
  }
}
