.mobile_break {
  display: none;
}
.webtab_break {
  display: inline;
}
.mo_text {
  display: none !important;
}
/* 모바일 전용 Thesis 섹션 */
.thesis_mobile_section {
  display: none;
  padding: 80px 0;
  background-color: #f7f7f7;
}

/* 모바일 스와이퍼 스타일 */
.mobileThesisSwiper {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  margin-bottom: -8px;
}

.mobileThesisSwiper .swiper-pagination {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.mobileThesisSwiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid #1a1a1a;
  background: transparent;
  opacity: 1;
  margin: 0 !important;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.mobileThesisSwiper .swiper-pagination-bullet-active {
  width: 65px;
  border-radius: 16px;
  background: #1a1a1a;
}

/* 카드 컨테이너 */
.thesis_mobile_card_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* 카드 부분 */
.thesis_mobile_card {
  display: flex;
  gap: 16px;
  padding: 20px;
  border-radius: 8px;
  background: #ffffff;
}

/* 카드 이미지 부분 */
.thesis_mobile_card_image {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #ececec;
}
.thesis_mobile_card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* 카드의 오른쪽 */
.thesis_mobile_card_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

/* 카드 글자 */
.thesis_mobile_card_content h3 {
  color: #3c3c3c;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}
/* 카드 날짜,버튼 부분 */
.card_botteom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 날짜 글씨 스타일 */
.thesis_mobile_date {
  color: #3c3c3c;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 100% */
  letter-spacing: -0.26px;
}
.tab_text {
  display: none;
}
.mo_text {
  display: none;
}

.top_img_box_mo {
  display: none;
}
/* 밑에 컨텐츠 부분 */
.bottom_content_mo {
  margin: 0 auto;
  /* margin: 0px 20px 0px 20px; */
  width: 90%;
  background-color: transparent;
  border-radius: 16px;
  border: 1px dashed #a1a3b7;

  display: flex;
  flex-direction: column;
}
.bottom_content_mo_box {
  padding: 32px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  border-bottom: 1px dashed #a1a3b7;
}
/* 이미지부분 */
.section2_img_box_mo {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
}
/* 이미지 */
.m_img_1 {
  background-image: url("images/mo/m_section2_img_1.svg");
}
.m_img_2 {
  background-image: url("images/mo/m_section2_img_2.svg");
}
.m_img_3 {
  background-image: url("images/mo/m_section2_img_3.svg");
}
.m_img_4 {
  background-image: url("images/mo/m_section2_img_4.svg");
}
.m_img_5 {
  background-image: url("images/mo/m_section2_img_5.svg");
}
.m_img_6 {
  background-image: url("images/mo/m_section2_img_6.svg");
}

/* 글 부분 */
.bottom_content_text_mo {
  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
}
/* 글자부분 */
.mo_bottom_text {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.36px;
  text-align: center;
}

@media all and (max-width: 767px) {
  .img_mo {
    display: block !important;
  }
  .img_web {
    display: none !important;
  }
  .web_text_three {
    display: none !important;
  }
  .mo_text {
    display: block !important;
  }
  .tab_text {
    display: none !important;
  }

  /* Main Content */
  /* hero section */
  .banner_section {
    padding: 80px 20px 40px 20px;
  }
  /* 양옆 */
  .container {
    padding: 0px 20px;
  }

  .hero {
    border-radius: 16px;
    height: 300px;
    margin-bottom: 0px;
    background-image: url("images/mo/m_tech_banner.png");
  }

  .hero_content {
    z-index: 1;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .hero h1 {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 100% */
  }

  .hero p {
    color: #fff;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
    letter-spacing: -0.4px;
  }
  /* Development Background 섹션 */
  .tech_intro_section {
    padding: 80px 0px 80px 0px;
  }

  .section_title {
    display: none;
  }
  .section_title_mo {
    display: block;
  }

  .tech_intro_content {
    width: 100%;
    padding-left: 12px;
  }

  .tech_intro_text {
    display: none;
  }
  .tech_intro_text_mo {
    width: 97%;
    display: block;
  }
  .tech_intro_text_blue {
    color: #23295b;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.4px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  .section1_img {
    width: 100%;
    margin-top: 40px;
  }

  /* Technology 섹션 */
  .tech_features_section {
    padding: 80px 0px 80px 0px;
  }
  .tech_feature_subtitle {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px; /* 100% */
  }
  .section_subtitle_mo {
    display: block;
  }
  .tech_feature_text {
    display: none;
  }
  .tech_feature_text_mo {
    display: block;
  }

  .tech_features_grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  /* 이미지부분 */
  .tech_feature_image_card {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
  }
  .tech_feature_image_card_img1 {
    content: url("images/mo/mo_section3_1.png");
    width: 100%;
    object-fit: contain;
  }
  .tech_feature_image_card_img2 {
    content: url("images/mo/mo_section3_2.png");
    width: 100%;
  }
  .tech_feature_image_card_img3 {
    content: url("images/section3_3_eng.png");
    width: 100%;
    object-fit: contain;
  }
  .tech_feature_image_card_img4 {
    content: url("images/section3_4_eng.png");
    width: 100%;
    object-fit: contain;
  }

  /* 글있는 부분 */
  .tech_feature_content_card {
    gap: 20px;
    padding: 40px 40px;
  }

  .tech_feature_subtitle_mo {
    display: block;
  }
  .web_four {
    display: none;
  }

  .mobile_four {
    display: block;
  }

  .tech_feature_title {
    font-size: 28px;
    line-height: 44px; /* 137.5% */
    letter-spacing: -0.64px;
    margin-bottom: 0px;
  }

  .tech_feature_text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.32px;
  }

  .tech_feature_text_blue {
    color: #23295b;
    font-size: 16px;
    font-weight: 700;
  }
  .tect_feature_text_mo {
    display: block;
  }

  /* Scientific Basis(Thesis) 섹션 */
  .scientific_basis_section {
    display: none;
  }

  .thesis_mobile_section {
    display: block;
  }

  .mobile_break {
    display: block;
  }
  .webtab_break {
    display: none;
  }

  /* 추가된 섹션 (두번째에 있는 이미지 섹션) */
  .section2_img_section {
    padding: 80px 0px 80px 0px;
    height: auto;
    /* background-image: url("images/mo/mo_section2_back_img.png"); */
    background-image: none;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section2_mid_img {
    display: block;
    width: 100%;
    height: 500px;
    background-image: url(images/mo/mo_section2_img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img_section_container {
    padding: 0px 0px !important;
    gap: 0;
  }

  .top_img_box {
    width: 100%;
    height: auto;
    border-radius: 24px;
    border: 1px solid #a1a3b7;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
  }
  /* 위에 이미지부분 */
  .top_img_box {
    display: none;
  }
  .top_img_box_mo {
    display: block;
    margin: 0 auto;
  }

  /* 아래부분 */
  .bottom_container {
    display: none;
  }

  .bottom_container_mo {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  /* 새로 추가된 섹션 표 부분 */

  .graph_section {
    padding: 80px 0px 80px 0px;
    background-color: #ffffff;
  }
  .graph_section_title {
    color: #3c3c3c;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .graph_img {
    display: none;
  }
  .graph_img_mo {
    display: block;
    width: 100%;
  }
}

/********************* Tablet ***************************************************************/
@media all and (min-width: 768px) and (max-width: 1524px) {
  .web_text_three {
    display: none !important;
  }
  .tab_text {
    display: block;
  }
  .mo_text {
    display: none !important;
  }

  /* Main Content */
  .container {
    padding: 0px 40px;
  }

  /* hero section */
  .banner_section {
    padding: 100px 60px 50px 60px;
  }

  .hero {
    margin-bottom: 0px;
  }

  .hero_content {
    z-index: 1;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .hero h1 {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 100% */
  }

  .hero p {
    color: #fff;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
    letter-spacing: -0.4px;
  }
  /* Development Background 섹션 */
  .section_title {
    display: none;
  }
  .section_title_mo {
    display: block;
  }

  .tech_intro_content {
    width: 100%;
    padding-left: 12px;
  }

  .tech_intro_text {
    font-size: 20px;
    display: block;
  }
  .tech_intro_text_mo {
    display: none;
  }

  .section1_img {
    width: 100%;
    margin-top: 50px;
  }

  /* Technology 섹션 */
  .tech_features_section {
    padding: 80px 0px 80px 0px;
  }
  .tech_feature_subtitle {
    display: block;
    font-size: 16px;
  }
  .section_subtitle_mo {
    display: block;
  }
  .tech_feature_text {
    display: none;
  }
  .tech_feature_text_mo {
    display: none;
  }

  .tech_features_grid {
    display: flex;
    flex-direction: column;

    gap: 24px;
    width: 100%;
  }

  /* 이미지부분 */
  .tech_feature_image_card {
    /* width: 350px; */
    height: 350px;
    flex-shrink: 0;
    border-radius: 16px;
  }
  .tech_feature_image_card_img1 {
    content: url("images/section3_1.png");
    width: 100%;
    object-fit: contain;
  }
  .tech_feature_image_card_img2 {
    content: url("images/mo/mo_section3_2.png");
    width: 100%;
  }
  .tech_feature_image_card_img3 {
    content: url("images/section3_3_eng.png");
    width: 100%;
    object-fit: contain;
  }
  .tech_feature_image_card_img4 {
    content: url("images/section3_4_eng.png");
    width: 100%;
    object-fit: contain;
  }

  /* 글있는 부분 */
  .tech_feature_content_card {
    gap: 20px;
    padding: 40px 40px;
  }

  .tech_feature_subtitle_mo {
    display: block;
  }
  .web_four {
    display: none;
  }

  .mobile_four {
    display: block;
  }

  .tech_feature_title {
    font-size: 32px;
    line-height: 44px; /* 137.5% */
    letter-spacing: -0.64px;
    margin-bottom: 0px;
  }

  .tech_feature_text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.32px;
  }

  .tech_feature_text_blue {
    color: #23295b;
    font-size: 16px;
    font-weight: 700;
  }
  .tect_feature_text_mo {
    display: block;
  }

  /* Scientific Basis(Thesis) 섹션 */
  .scientific_basis_section {
    display: none;
  }

  .thesis_mobile_section {
    display: block;
  }

  .web_break {
    display: none;
  }
  .top_img_box {
    height: 250px;
    margin: 0 auto;
    width: 90%;
  }
  /* 새로추가된 부분 테블릿 버전 */
  .section2_img_section {
    padding: 80px 0px 80px 0px;
    height: auto;
    background-image: none;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img_section_container {
    margin: 0 auto;
    padding: 0px 0px !important;
  }
  .top_img_box > img {
    /* width: 90%; */
    /* object-fit: cover; */
  }
  .top_img_box_mo {
    display: none;
  }
  /* 밑에 컨텐츠 부분 */
  .bottom_content_mo {
    margin: 0 auto;
    /* margin: 0px 20px 0px 20px; */
    width: 90%;
    background-color: transparent;
    border-radius: 16px;
    border: 1px dashed #a1a3b7;

    display: flex;
    flex-direction: column;
  }
  .bottom_container_mo {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .bottom_container {
    width: 100%;
    display: flex;
    display: none;
  }
  .graph_section {
    padding: 80px 0px 80px 0px;
    background-color: #ffffff;
  }
  .graph_section_title {
    font-size: 30px;
  }
  .section2_mid_img {
    display: block;
    width: 100%;
    height: 500px;
    background-image: url(images/mo/tab_section2_img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
  .researchSwiper .swiper-slide {
    display: none;
    width: calc((100% - 40px) / 2);
  }
}

@media (max-width: 768px) {
  .researchSwiper .swiper-slide {
    width: 100%;
  }
}
